[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "~=2.17.0"
pandas = "~=2.2.2"
scipy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
