@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

#main {
  min-height: 680px;
  padding: 2rem;
  background: url("../image/main-bg.png") top center no-repeat fixed;
}

.Select-control, .Select.is-open .Select-control, .Select-menu-outer {
  border: 1px solid rgb(213, 201, 225);
}
